html, body{
    margin:0;
    padding: 0;
    height: 100%;
    place-items: center;
 
}

body{
justify-content: center;
align-items: center;

}

h1{
    color: rgba(0, 0, 0, 0.863);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



 :root{
    --search-container-width:40%;
    --number-keyboard-width:50%;
 }
.search-container {
    position: absolute;
    display: inline-block;
    text-align: center;
    width: var(--search-container-width);
    /* height: 40%;  */
    left:calc(50% - var(--search-container-width) /2 );
    margin-bottom: 20px;
  }

.search-input {
    padding-right: 30px; /* Add space for the icon */
    width: 100%;
    height: 50px;
    box-sizing: border-box;
   border-radius: 5px;
    font-size: 16px; /* Initial placeholder font size */
    border: 1px solid #642929; /* Add a default border */
    transition: box-shadow 0.9s ease; /* Add smooth transition for the shadow */
    box-shadow: 0 0 40px #642929;
    /* display: none; */
    
  }
  .search-input:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #642929; /* Change border color on focus */
    box-shadow: 0 0 20px #08113098; /* Add a shadow on focus */
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 16px; /* Icon size */
   
  }


/* Add vibrate animation */
@keyframes vibrate {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

/* Apply vibrate animation to input field when needed */
.vibrate {
    animation: vibrate 0.3s ease;
}

#search_results{
    height: 100%;
    width: 96%;
    border: 2px solid #642929;
    border-radius: 20px;
    background-color:rgb(122, 138, 138) ;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:30px;
    text-align: center;
    display: none;
    
}

.number-keyboard {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    height: 68%;
    /* overflow: hidden; */
    margin-top: 20%;
    position: relative;
    left:calc(50% - var(--number-keyboard-width) /2 );

}

.number-row {
  display: flex;
  justify-content: center;
}

.number-button {
  display: inline-block;
  margin: 5px;
  padding: 10% 0;
  font-size: 18px;
  cursor: pointer;
  background-color: #410b0b;
  border: 2px solid #000000;
  border-radius: 10%; /* Make the buttons square */
  width: 25%;
  text-align: center;
  line-height: 1.5; /* Center text vertically */
}

.number-button:hover {
  background-color: #ccc;
}
#number-display {
  font-size: 24px;
  margin: 20px;
}


  /* ------------------------------------------responsive design TABLETS--------------------------- */

@media screen and (max-width: 768px) {
  /* Adjust placeholder font size for smaller screens */
  .search-input::placeholder {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .number-keyboard{
    display: none;
  }
}



  /* ------------------------------------------responsive design SMARTPHONES--------------------------- */

@media screen and (max-width: 480px) {
  body{
    
  }
  .number-keyboard {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    /* overflow: hidden; */
    margin-top: 20%;
    position: relative;
    left:calc(50% - var(--number-keyboard-width) /2 );

}

  
}