html, body{
        margin:0;
        padding: 0;
        height: 100%;
        place-items: center;
        justify-content: center;
        align-items: center;
}



/* p{  
    position: absolute;
    text-align: center;
    color: rgb(236, 234, 234);
} */

.control_panel{
    position: absolute;
    height: 60px;
    width: 600px;
    border-radius: 10px;
    margin-top: 20px;
    background-color:#742F2F;
    left:calc(50% - 300px );
    /* right: 25%; */
    display: flex;
    /* box-sizing: border-box; */
    justify-content: center;
    align-items: center;
}   

.control_panel .music_bar{
    display: none;
}
button{
    border-style: double;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border-color: #742F2F;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.918);
    position: relative;
    transition: transform 0.3s ease;
}
button:hover{
 background-color: #9b9a7a79;
}


#texts{
    font-weight: bold;
    font-size: larger;
    font-style: italic; 
    font-family:'Martel', serif;
}

/* -------------------------------------------------------------------------- */
.toggle-button span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none; /* Initial text decoration */
  }

  .crossed-out {
    text-decoration: line-through;
  }
/* ------------------------------------------------------------------------------ */


button:hover{
    transform: scale(0.9);
}


/* SEARCH LOUPE */
#loupe{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 5px;
    margin-left:45px;
    margin-right:45px;
    border-radius: 10px;
    border-color: #742F2F;
    transition: transform 0.3s ease-out;
}
#loupe:hover{
    transform: scale(1.3)
}




.music_bar{
    /* position: ; */
    background-color: #742F2F;
    /* height: 40px; */
    width: 600px;
    border-radius: 10px;
    margin-top: 100px;
    left: calc(50% - 300px);
    text-align: center;
    align-items: center;
    padding-top : 5px;
    /* display: flex; */
}
#audio-container{
    position: relative;
}

#audio-player{
    width: 100%;  

}

.container{
    position: relative;
    /* border-color: black; */
    /* border-style: solid; */
    background-color:rgb(255, 255, 255);
    height: 1500px;
    width: 96%;
    margin-top: 20px;
    left :2%;
    right: 2%;
    display: flex;
    justify-content: center;
}
.song_notes{
    /* position: relative;
    background-color: rgb(106, 88, 129);
    border-style: solid;  
    height: 90%;
    width: 45%;
    left: 5px;
    margin-top:2%;
  
    overflow: hidden; */
   
        /* Your existing song_notes styles */
        position: relative;
        /* background-color: rgb(255, 255, 255); */
        border: 1px solid rgb(0, 0, 0);  
        /* height: auto;  */
        width: 45%;
        margin-top: 2%;
        overflow: hidden;
  
}

.song_notes img {
margin-top: -170px;
margin-left: -25px;
width: 100%;
height: 100%;
}


.song_texts{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid;   */
        /* height: 90%; */
    width: 45%;
    right:5px;
    margin-top:2%;
    /* padding-left: 30px;
    padding-right: 30%; */
    /* white-space: pre-line; */
    /* text-align: start; */
    font-size: 25px; 
    margin-left: 10px;
}


#footer{
display: none;
}


/* ----------------------RESPONSIVE DESIGN FOR TABLETS---------------------- */

@media  screen and (max-width: 767px)  {
    body{
        /* display: none; */
    }
    .control_panel{
        position: absolute;
        display: none;
        height: 100px;
        width: 100%;
        left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        bottom:0;
    }

    .control_panel .music_bar{
        display: block;
    }   
    .music_bar{
        display: none;
    }


    button{
        border-style: double;
        width: 45px;
        height: 45px;
        margin-left: 10px;
        margin-top: 5px;
        border-radius: 10px;
        border-color: #742F2F;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.918);
        transition: transform 0.3s ease;
    }

    .music_bar{
        /* display: none; */
    /* position: relative; */
    align-items: center;
    /* background-color: rgb(194, 177, 23); */
    height: 40px;
    width: 400px;
    border-radius: 10px;
    /* margin-top: 10px; */
    left: calc(50% - 200px);
    }
    #audio-player{
        /* background-color: rgb(25, 8, 175); */
        width: 100%; 
        max-width: 100%; 
        height: 100%;
        /* border: 1px solid #ccc;  */
    }

    .container{
        /* top:100px; */
        position: absolute;
        align-items: center;
        /* text-align: center; */
        display: flex;
        flex-direction: column;
        height: 2000px;
        border: 1px solid blue;
        /* padding:10px; */
        /* text-align: center; */
        

    }

    .song_notes{
            /* margin-top: 0px; */
            /* position: relative; */
            /* background-color: rgb(255, 255, 255); */
            border: 1px solid rgb(0, 0, 0);  
            /* height: auto;  */
            width: 90%;
            /* margin-top:0; */
            overflow: scroll;
      
    }
    .song_notes img {
        margin-top: -100px;
        margin-left: -20px;
        width: 100%;
        height: 150%;
        }
    
        
    .song_texts{
            background-color: rgb(255, 255, 255);
            /* border: 1px solid;   */
                /* height: 90%; */
            width: 90%;
            /* right:5px; */
            /* margin-top:2%; */
            /* padding-left: 30px;
            padding-right: 30%; */
            /* white-space: pre-line; */
            /* text-align: start; */
            font-size: 20px; 
            margin-left: 30px;
            /* overflow :; */
        }

}



/* --------------------------RESPONSIVE DESIGN FOR PHONES------------------ */

@media only screen and (min-width: 300px) and (max-width: 480px) {

    body{
        /* display:flex; */
        align-items: center;
        justify-content: center;
      
    }
    .music_bar{
        display: none;
    }
.song_number{
    display: flex;
    justify-content: center;/* Center the contents horizontally */
    align-items: center; /* Center the contents vertically */
    text-align: center;
}
#song_title {
    flex-grow: 1; /* Allow the title to grow and take up available space */
}
#eye {
    /* display: flex; */
    right:10px
}
    .container{
        align-items: flex-start;
        display: table-column;
        height: 1000px;
        margin-top: 10px;
        width: 90%;
        align-items: center;
        margin-left: 5px;
        margin-right:5px;
    }

    .song_notes{
        font-size: 16px; /* Set an initial font size */
        max-width: 100%;
        margin: 10px 10px 10px 10px;
        border: 1px solid;
        border-radius: 5px;
       
    }
    .song_texts{
        font-size: 16px; /* Set an initial font size */
        word-wrap: break-word; /* Wrap long words onto the next line */
        /* overflow-wrap: break-word; */
        max-width: 100%;
        margin: 10px 10px 10px 10px;
        border: 1px green solid;
    }
    .control_panel {
        position: absolute;
        width: 100%; 
        border-radius: 10px 10px 0px 0px;
        margin-top: 20px;
        background-color: #742F2F;
        display: flex;
        flex-wrap: wrap; /* Allow buttons to wrap to the next line when necessary */
        justify-content: space-between; /* Add space between buttons */
        align-items: center;
        text-align: center;
    } 
    .control_panel .music_bar{
        display: block;
        width: 90%;
        margin-left: 5px;
        left:20px;
        margin-top: 5px;
        background-color: rgba(255, 255, 255, 0.007);
    }
    h1{
       font-size: 20px;
       text-align: center;
       align-items: center;
    }
  
    button{
        border-style: double;
        width: 40px;
        height: 40px;
        margin-left: 0px;
        margin-top: 5px;
        border-radius: 10px;
        border-color: #742F2F;
        flex-grow: 1;
        box-shadow: 0 2px 4px rgba(54, 45, 45, 0.918);
        position: relative;
        transition: transform 0.3s ease;
    }
    .music_bar {
        width: 100%;
    }
    #loupe{
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-top: 5px;
        margin-left:0px;
        margin-right:0px;
        border-radius: 10px;
        border-color: #742F2F;
        transition: transform 0.3s ease-out;
    }

}



