CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


ПЕСЕННИК_100.txt
ПЕСЕННИК_100.pdf
brouillon.txt
